.page-template {
	&- {
		&header {
			display: flex;

			margin-bottom: 64px;
			border-bottom: 2px solid @primary-color;
			height: 130px;

			align-items: center;

			@media @mobile {
				margin-bottom: 48px;
			}
		}

		&main {
			margin: 0 auto;
			max-width: @page-width;

			@media @content-max-width {
				padding: 0 @page-margin-big;
			}

			@media @tablet {
				padding: 0 @page-margin-small;
			}
		}
	}
}
