.page-template {
	&- {
		&header {
			display: flex;

			margin-bottom: 2rem;
			border-bottom: 0.125rem solid #b7da71;
			height: 6.25rem;

			align-items: center;
		}

		&main {
			margin: 0 auto;
			width: 75rem;
		}
	}
}
