.component-recipe-content {
	font-size: 19px;

	@media @mobile {
		font-size: 17px;
	}

	&- {
		&row {
			display: flex;

			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: flex-start;

			@media @tablet-wide {
				flex-flow: column nowrap;
				justify-content: flex-start;
			}
		}

		&left {
			margin-right: 8%;
			margin-bottom: 64px;
			width: 67%;

			@media @tablet-wide {
				order: 2;

				margin-right: 0;
				margin-bottom: 32px;
				width: 100%;
			}
		}

		&right {
			margin-bottom: 64px;
			width: 25%;

			@media @tablet-wide {
				order: 1;

				margin-bottom: 32px;
				width: 100%;
			}
		}
	}
}
