.component-secondary-headline {
	margin-bottom: 32px;
	border-bottom: 2px solid @primary-color;

	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: lighter;
	text-align: left;
}
